.ps-content.pt-40.pb-40
    .ps-container
        .table-responsive
            table.table.ps-table--compare
                tbody
                    tr
                        td Product
                        td
                            a(href='product-detail.html').ps-product--compare
                                img(src="images/shopping-cart/1.jpg" alt="")
                                |  Air jordan One mid
                        td
                            a(href='product-detail.html').ps-product--compare
                                img(src="images/shopping-cart/2.jpg" alt="")
                                |  Air jordan One mid
                    tr
                        td Pricing
                        td: span.price $450
                        td: span.price $450
                    tr
                        td Rating
                        td
                            select.ps-rating.ps-shoe__rating
                                option(value='1') 1
                                option(value='1') 2
                                option(value='1') 3
                                option(value='1') 4
                                option(value='2') 5
                        td
                            select.ps-rating.ps-shoe__rating
                                option(value='1') 1
                                option(value='1') 2
                                option(value='1') 3
                                option(value='1') 4
                                option(value='2') 5
                    tr
                        td Available
                        td: span.status.in-stock In stock
                        td: span.status Out of stock
                    tr
                        td Size
                        td 9, 9.5, 10, 10.5, 11, 11
                        td 9, 9.5, 10, 10.5, 12
                    tr
                        td Color
                        td Red
                        td Yellow
                    tr
                        td Order
                        td
                            a(href='#').ps-btn Add to cart
                            a(href='whishlist.html').ps-btn--favorite.ml-10: i.ps-icon-heart
                        td
                            a(href='#').ps-btn Add to cart
                            a(href='whishlist.html').ps-btn--favorite.ml-10: i.ps-icon-heart







