.ps-section--features
    .ps-container
        .row
            +column({cols: [4, 4, 12, 12]})
                .ps-iconbox
                    header
                        i.ps-icon-delivery-truck
                        h3 FREE SHIPPING
                        p ON ORDER OVER $199
                    p Want to track a package? Find tracking information and order details from Your Orders.
            +column({cols: [4, 4, 12, 12]})
                .ps-iconbox
                    header
                        i.ps-icon-money-1
                        h3 100% MONEY BACK.
                        p WITHIN 30 DAYS AFTER DELIVERY.
                    p You may return most new, unopened items sold within 30 days of delivery for a full refund.
            +column({cols: [4, 4, 12, 12]})
                .ps-iconbox
                    header
                        i.ps-icon-customer-service
                        h3 SUPPORT 24/7.
                        p WE CAN HELP YOU ONLINE.
                    p We offer a 24/7 customer hotline so you’re never alone if you have a question.
