/**Theme Color CSS**/
.spinner > div {
    background-color: #394263;   
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #394263;
}
a {
    color: #394263;
}
.footer a:hover,
.footer a:active,
.footer a:focus {
    color: #394263;
}
.block-title.alt .fa.color {
    background-color: #394263;
}
.text-color {
    color: #394263;
}
.drop-cap {    
    color: #394263;
}
blockquote {
    background-color: #394263;    
}
.btn-theme {   
    background-color: #394263;
    border-color: #394263;   
}
.btn-theme-transparent, .btn-theme-transparent:focus, .btn-theme-transparent:active, .btn-title-more{
    background-color: rgba(0, 0, 0, 0);
    border-color: #e9e9e9;
}
.btn-theme-dark, .btn-theme-dark:focus, .btn-theme-dark:active {
    background-color: #232323;
    border-color: #232323;
}
.btn-theme-dark:hover {
    background-color: #394263;
    border-color: #394263;    
}
.btn-play { 
    background-color: rgba(0, 177, 106, 0.85);   
}
.btn-play:before {    
    border: solid 10px rgba(0, 177, 106, 0.35);
}
a:hover .btn-play,
.btn-play:hover {   
    color: #394263;
}

.top-bar ul a:hover .fa {
    color: #394263;
}
.top-bar ul a span.colored {
    color: #394263;  
}

.header {
    border-bottom: solid 3px #394263;
}
.coming-soon .header {  
    border-bottom-color: rgba(0, 177, 106, 0.5) !important;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #394263;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: #394263;
}
.sf-menu li.megamenu ul a:hover {
    color: #394263;
}
.sf-menu li.sale a {
    background-color: #394263;   
}
@media (max-width: 991px) {   
    .sf-menu > li > a:hover {       
        color: #394263;
    }    
}
.footer {
    border-top: solid 10px #394263;   
}
.main-slider .caption-subtitle {    
    color: #394263;   
}
.main-slider .btn-theme:hover {
    border-color: #394263;
    background-color: #394263;   
}
.main-slider .dark .caption-text .btn-theme:hover {
    background-color: #394263;
    border-color: #394263;
}
.coming-soon .main-slider .page .countdown-amount { 
    color: #394263;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    border-color: #394263;
    background-color: #394263;  
}
.message-box {    
    background-color: #394263;  
}
.content-tabs .nav-tabs > li.active > a {   
    color: #394263;
}
.post-title a:hover {
    color: #394263;
}
.post-meta a:hover {
    color: #394263;
}
.about-the-author .media-heading a:hover {
    color: #394263;
}
.post-wrap blockquote {  
    border-top: solid 6px #394263;  
}
.recent-post .media-category { 
    color: #394263;
}
.recent-post .media-heading a:hover {
    color: #394263;
}
.widget .recent-post .media-meta a:hover {
    color: #394263;
}
.comment-author a:hover {
    color: #394263;
}
.comment-date .fa {
    color: #394263;  
}
.thumbnail.hover,
.thumbnail:hover {
    border: solid 1px #394263;
}
.caption-title a:hover {
    color: #394263;
}
.thumbnail.thumbnail-banner .btn-theme:hover {
    background-color: #394263;
    border-color: #394263;
}
.recent-post .media-link:after{
    background-color: rgba(0, 177, 106, 0);
}
.recent-post .media-link:hover:after {
    background-color: rgba(0, 177, 106, 0.7);
}
.thumbnail-banner .caption {    
    background-color: rgba(0, 177, 106, 0);
}
.thumbnail-banner.hover .caption,
.thumbnail-banner:hover .caption {
    background-color: rgba(0, 177, 106, 0.3);
}
.thumbnail .price ins {   
    color: #394263;
}
.product-single .reviews:hover,
.product-single .add-review:hover {
    color: #394263;
}
.product-single .product-availability strong {
    color: #394263;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #394263;
}
.products.list .thumbnail .reviews:hover {
    color: #394263;
}
.products.list .thumbnail .availability strong {
    color: #394263;
}
.thumbnails.portfolio .thumbnail .caption.hovered {    
    background-color: rgba(0, 177, 106, 0.5);
}
.widget.widget-shop-deals .countdown-amount {   
    color: #394263;
}
.widget.widget-tabs .nav-justified > li.active > a,
.widget.widget-tabs .nav-justified > li > a:hover,
.widget.widget-tabs .nav-justified > li > a:focus {
    border-color: #394263;
    background-color: #394263;   
}
@media (min-width: 768px) {    
    .widget.widget-tabs.alt .nav-justified > li.active > a:before {      
        border-top: solid 5px #394263;
    }
}
.widget.shop-categories ul a:hover {
    color: #394263;
}
.widget-flickr-feed ul a:hover {
    border-color: #394263;
}
.widget-flickr-feed ul a:hover:before {
    background-color: rgba(0, 177, 106, 0.7);
}
.recent-tweets .media .fa {
    color: #394263;
}
.product-list .price ins {   
    color: #394263;
}
.product-list .media-link:after { 
    background-color: rgba(0, 177, 106, 0);   
}
.product-list .media-link:hover:after {
    background-color: rgba(0, 177, 106, 0.7);
}
.shop-sorting .col-sm-4 .btn-theme:hover {
    background-color: #394263;
}
.orders td.description h4 a:hover {
    color: #394263;
}
.orders td.total a:hover {
    color: #394263;
}
.orders .media-link:after {    
    background-color: rgba(0, 177, 106, 0);  
}
.orders .media-link:hover:after {
    background-color: rgba(0, 177, 106, 0.7);
}
.wishlist td.description h4 a:hover {
    color: #394263;
}
.wishlist td.total a:hover {
    color: #394263;
}
.wishlist .media-link:after {   
    background-color: rgba(0, 177, 106, 0);   
}
.wishlist .media-link:hover:after {
    background-color: rgba(0, 177, 106, 0.7);
}
.compare-products .product .media-link:after {  
    background-color: rgba(0, 177, 106, 0);   
}
.compare-products .product .media-link:hover:after {
    background-color: rgba(0, 177, 106, 0.7);
}
.compare-products .product h4:hover,
.compare-products .product h4 a:hover {
    color: #394263;
}
#contact-form .alert { 
    border-color: #394263;
    background-color: #394263;   
}
.to-top {   
    background-color: rgba(0, 177, 106, 0.5);
    border: solid 2px #394263;   
}
.to-top:hover {   
    border-color: #394263;
    color: #394263;
}
.header-nav-1 .sf-arrows > li > .sf-with-ul:focus::after,
.header-nav-1 .sf-arrows > li:hover > .sf-with-ul::after,
.header-nav-1 .sf-arrows > li.active > .sf-with-ul::after,
.header-nav-1 .sf-arrows > .sfHover > .sf-with-ul::after {
    border-top-color: #394263;
}
.header-nav-5 .sf-menu > li:hover,
.header-nav-5 .sf-menu li.active > a,
.header-nav-5 .sf-menu a:hover,
.header-nav-5 .sf-menu li.active,
.header-nav-5 .sf-menu > li.active.sfHover > a,
.header-nav-5 .sf-menu ul a:hover,
.sf-menu li:hover,
.header-nav-5 .sf-menu li.sfHover,
.header-nav-5 .sf-menu li.sfHover > a {
    color: #394263;
}
.header-nav-2 .sf-menu > li:hover,
.header-nav-2 .sf-menu > li:hover > a,
.header-nav-2 .sf-menu li.active,
.header-nav-2 .sf-menu > li.sfHover,
.header-nav-2 .sf-menu > li.sfHover > a {
    background-color: #394263;
}
.header-nav-2 .sf-menu ul a:hover {
    background-color: #394263;
}
.header-nav-3 .sf-menu > li:hover,
.header-nav-3 .sf-menu > li:hover > a,
.header-nav-3 .sf-menu li.active,
.header-nav-3 .sf-menu > li.sfHover,
.header-nav-3 .sf-menu > li.sfHover > a {
    background-color: #394263;
}
.header-nav-3 .sf-menu ul a:hover {
    background-color: #394263;
}
.information-title {
    border-bottom: 3px solid #394263;   
}
.widget.account-details .widget-title {
    border-bottom: 3px solid #394263;    
}
.widget.account-details li.active a {
    color: #394263;
}
.widget.account-details li a:hover,
.widget.account-details li a:focus,
.details-box > ul li a:hover,
.details-box > ul li a:focus {
    color: #394263;
}
.social-icons a:hover {
    color: #ffffff;
}
.header .navigation-wrapper {
    background-color: #f5f6f7;
    border-top: 1px solid #d3d5d7;
}
.btn-view-more-block {
    background-color: #a5abb7;
    border-color: #a5abb7;
}