.menu--sidebar {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    > li {
        display: block;
        float: none;
        margin: 0 0 10px;
        text-align: center;
        > a {
            color: #fff;
            font-size: 22px;
        }
        .sub-menu {
            position: relative;
            @include transform(translate(0, 0));
            border: none;
            @include show;
            display: none;
            @include transition(all 0s ease);
            > li {
                > a {
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                    background: none;
                    border: none;
                    font-weight: 400;
                }
                &.menu-item-has-children {
                    > a {
                        position: relative;
                        &:after {
                            content: "\f055";
                            font-family: FontAwesome;
                            display: inline-block;
                            @include vertical-align();
                            right: 15px;
                        }
                    }
                    > .sub-menu {
                        position: relative;
                        top: 0;
                        left: 0;
                        @include show;  
                        @include transform(translate(0, 0));
                    }
                }
            }
        }
    }
    @include media("<lg") {
        > li {
            margin-bottom: 0;
            > a {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    @include media("<xs") {
        max-height: 300px;
    }
}

.header--left {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    z-index: 10000;
    background-color: #2b3147;
    @include transition(all .4s ease);
    @extend %list-reset;
    .header__top {
        margin-bottom: 50px;
        .header__actions {
            margin-bottom: 40px;
            float: none;
            border-bottom: 1px solid #5b658c;
            > a, .ps-dropdown > a {
                font-size: 12px;
                border-color: #5b658c;
                &:hover {
                    background-color: transparent;
                }
            }
            > a {
                border: none;
            }
            .ps-dropdown {
                font-size: 0;
                &:last-child {
                    a {
                        border-right: none;
                    }
                }
            }
        }
    }
    .header__brand {
        text-align: center;
        .ps-logo {
            display: inline-block;
            margin-bottom: 20px;
        }
    }
    .header__links {
        a {
            position: relative;
            margin-right: 15px;
            display: inline-block;
            width: 40px;
            height: 40px;
            color: #fff;
            i {
                @include center();
            }
            &:hover {
                color: $color-1st;
            }
        }
        .cart {
            span {
                position: absolute;
                top: 0;
                right: 0;
                width: 20px;
                height: 20px;
                background-color: $color-1st;
                font-size: 10px;
                @include border-radius(50%);
                i {
                    font-style: normal;
                    @include center();
                }

            }
            &:hover {
                span {
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
    .header__bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
        .ps-list--social {
            margin-bottom: 20px;
        }
        .ps-payment-methods {
            a {
                display: inline-block;
                margin-right: 10px;
            }
        }
        p {
            font-size: 14px;
            color: #fff;
            a {
                color: $color-1st;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .menu-toggle {
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #fff;
        @include border-radius(0);
    }
    @media (max-width: 1400px) {
        .header__bottom {
            padding-bottom: 20px;
            .ps-list--social {
                display: none;
            }
        }
    }
    @include media("<lg") {
        @include transform(translateX(-100%));
        &.active {
            @include transform(translateX(0));
        }
        .header__top {
            margin-bottom: 0;
            .header__actions {
                margin-bottom: 10px;
            }
        }
        .header__brand {
            .ps-logo {
                width: 60px;
            }
        }
    }
    @include media("<sm") {
        width: 240px;
    }
    @include media("<xs") {
        .header__actions {
            > a {
                display: none;
            }
        }
        .header__bottom {
            padding-bottom: 0;
            .ps-list--social {
                display: none;
            }
        }
    }
}