extends ../master

block title
    title Xuper - Cart

block page_header

    - var currentPage = 'homepage'
    include ../partials/shared/header
block page_content

    .ps-hero
        .container
            h3 Cart
            p Page Cart
    include ../partials/section/checkout
    include ../partials/section/partners
    include ../partials/section/shop-features
    include ../partials/footer








