extends ../master

block title
    title Xuper - Whishlist
block page_header

    - var currentPage = 'homepage'
    include ../partials/shared/header
block page_content

    .ps-hero
        .container
            h3 wishlist
            p Page Cart
    include ../partials/section/whishlist
    include ../partials/section/partners
    include ../partials/section/shop-features
    include ../partials/footer








