.ps-form--search {
    position: relative;
    max-width: 260px;
    input {
        height: 40px;
        background-color: #fff;
        @include border-radius(40px);
        border: none;
        padding: 0 20px;
        @include transition(all .4s ease);
        &:hover {
            background-color: #f9f9f9;
        }
    }
    button {
        width: 30px;
        height: 30px;
        right: 10px;
        color: #333;
        border: none;
        background-color: transparent;
        @include vertical-align();
        i {
            @include center();
        }
    }
    @include media("<lg") {
        input {
            background-color: #f9f9f9;
        }
    }
    @include media("<xs") {
        input {
            background-color: #fff;
        }
    }
}

.ps-form--create-tags, .ps-form--product-review {
    .form-group {
        margin-bottom: 20px;
        > label {
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 16px;
            color: #5b5b5b;
        }
    }

}

.ps-form--create-tags {
    max-width: 600px;
    .form-group {
        @include clearfix;
    }
    input {
        float: left;
        width: calc(100% - 160px);
    }
    button {
        float: right;
        width: 150px;
        text-align: center;
        height: 50px;
        color: #fff;
        border: none;
        padding: 0;
        font-weight: 600;
        background-color: #5b5b5b;
        @include transition(all .4s ease);
        &:hover {
            background-color: $color-1st;
        }
    }
}

.ps-form--widget-search {
    position: relative;
    input {
        border: 1px solid #f7f7f7;
        background-color: #f7f7f7;
    }
    button {
        @include vertical-align();
        right: 10px;
        background-color: transparent;
        border: none;
    }
}

.ps-form--post-comment {
    .form-control {
        background-color: #f7f7f7;
        border-color: #f7f7f7;
    }
}

.ps-form--contact {
    margin-bottom: 50px;
    .form-group {
        margin-bottom: 20px;
        > label {
            margin-bottom: 10px;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 14px;
        }
        .form-control {
            background-color: #f7f7f7;
            border-color: #f7f7f7;
            @include transition(all .4s ease);
            &:focus {
                background-color: darken(#f7f7f7, 5%);
                border-color: darken(#f7f7f7, 5%);
            }
        }
        button.ps-btn {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}
